<a [routerLink]="['/main']"
  ><div class="return"><b>← voltar</b></div></a
>
<h2>Alarme</h2>

<div *ngIf="!sucesso">
  <div class="label">
    Medicamento*: <br />
    <select [(ngModel)]="medicamento">
      <option *ngFor="let x of listaMedicamentos" [ngValue]="x" >{{x.nome}}</option>
  </select>  
</div>
  <div class="label">
    Data*: <br />
    <input type="date" [(ngModel)]="data" />
  </div>
  <br />
  <div class="label">
    Hora*: <br />
    <input type="time" step="2" [(ngModel)]="time" />
  </div>
  <br />

  <div class="button" (click)="adicionar()">CONFIRMAR</div>
  <br />
</div>

<div *ngIf="sucesso">
  <h2>Sucesso!</h2>
  O alarme foi adicionado com sucesso! :)<br /><br />
  <div>
    <p>Medicamento: {{medicamento.nome}}</p>
    <p>Data: {{data}}</p>
    <p>Hora: {{time}}</p>
  </div>
</div>
