<a [routerLink]="['/main']"
  ><div class="return"><b>← voltar</b></div></a
>
<h2>Consultas</h2>

<div *ngIf="!sucesso">
  <div class="label">
    Nome*: <br />
    <input type="textfield" [(ngModel)]="nome" />
  </div>
  <br />
  <div class="label">
    Descrição*: <br />
    <input type="textfield" [(ngModel)]="descricao" />
  </div>
  <br />
  <div class="label">
    Data*: <br />
    <input type="date" [(ngModel)]="data" />
  </div>
  <br />

  <div class="label">
    Hora*: <br />
    <input type="time" step="2" [(ngModel)]="hora" />
  </div>
  <br />

  <div class="button" (click)="adicionar()">CONFIRMAR</div>
  <br />
</div>

<!-- <div *ngIf="sucesso">
  <h2>Sucesso!</h2>
  O medicamento foi adicionado com sucesso! :)<br /><br />
  <div *ngFor="let infos of info.get_lista_medicamentos(); index as i">
    <p>{{ infos.medicamento }}</p>
    <p>{{ infos.dosagem }}</p>
  </div>
</div> -->
