<div *ngIf="!escolha">
  <label for="User">Login</label>
  <input type="text" id="User" name="Name" />
  <br /><br />
  <label for="Senha">Senha</label>
  <input type="text" id="Senha" name="Senha" />
  <br /><br />
  <div class="button" (click)="entrar()">ENTRAR</div>
  <br />
  <div class="button" (click)="cadastrar()">CADASTRAR</div>
</div>

<div *ngIf="escolha == 'cadastro' && !usuario">
  <h2>Cadastre-se</h2>
  <div class="subtitle">
    Por favor, efetue o seu cadastro para acessar todas as nossas
    funcionalidades
  </div>
  <br />
  <div class="button" (click)="tipo_usuario('paciente')">SOU PACIENTE</div>
  <br />
  <div class="button" (click)="tipo_usuario('cuidador')">SOU CUIDADOR</div>
  <br />
  <div style="display:flex;flex-direction:column;align-items:center;">
    <div class="small-text">Já tenho um conta, voltar para a tela de Login</div>
    <div (click)="resetar()" class="return"><b>← voltar</b></div>
  </div>
</div>

<div *ngIf="escolha == 'logar'">
  <h2>Erro 404:</h2>
  Opa! Não temos a página de login para esse teste ainda! :(<br /><br />
  <span (click)="resetar()" style="cursor:pointer;"> <b>← Retornar</b></span>
</div>

<div *ngIf="escolha == 'cadastro' && usuario == 'paciente'">
  <h2>Cadastre-se:</h2>

  <div class="label">
    Nome de Usuario: <input type="textfield" [(ngModel)]="username" />
  </div>
  <br />

  <div class="label">
    E-mail: <input type="textfield" [(ngModel)]="email" />
  </div>
  <br />

  <div class="label">Senha: <input type="password" [(ngModel)]="senha" /></div>
  <br />

  <div class="label">
    Confirmar Senha: <input type="password" [(ngModel)]="conf_senha" />
  </div>
  <br />

  <div class="button" (click)="verificar('cuidador')">CADASTRAR</div>
  <br />

  <div (click)="resetar()" class="return"><b>← voltar</b></div>
</div>

<div *ngIf="escolha == 'cadastro' && usuario == 'cuidador'">
  <h2>Cadastre-se:</h2>

  <div class="label">
    Nome de Usuario: <input type="textfield" [(ngModel)]="username" />
  </div>
  <br />

  <div class="label">
    E-mail: <input type="textfield" [(ngModel)]="email" />
  </div>
  <br />

  <div class="label">Senha: <input type="password" [(ngModel)]="senha" /></div>
  <br />

  <div class="label">
    Confirmar Senha: <input type="password" [(ngModel)]="conf_senha" />
  </div>
  <br />

  <div class="button" (click)="verificar('cuidador')">CADASTRAR</div>
  <br />

  <div (click)="resetar()" class="return"><b>← voltar</b></div>
</div>
