<div>
  <label for="User">Login</label>
  <input type="text" id="User" name="Name" [(ngModel)]="username" />
  <br /><br />
  <label for="Senha">Senha</label>
  <input type="password" id="Senha" name="Senha" [(ngModel)]="senha" />
  <br /><br />
  <div class="button" style="margin-bottom: 15px" (click)="entrar()">
    ENTRAR
  </div>

  <div class="small-text" style="margin-bottom: 7px">
    Não tem uma conta? <b>Cadastre-se abaixo</b>
  </div>
  <div class="button"><a [routerLink]="['/cadastro']"> CADASTRAR</a></div>
  <br />
</div>
