.select-icon:hover {
  text-decoration: none;
  border: 2px solid rgb(148, 81, 148);
  cursor: pointer;
}
p{
  color: #7a51af;
}

.logout {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  text-shadow: none;
  color: brown;
  font-weight: bold;
  font-size: 20px;
}
