<a [routerLink]="['/main']">
  <div class="return"><b>← voltar</b></div>
</a>
<h2>Medicamentos</h2>

<div *ngIf="!sucesso">
  <div class="label">
    Medicamento*: <br />
    <input type="textfield" [(ngModel)]="nome" />
  </div>
  <div class="label">
    Observação: <br />
    <input type="textfield" [(ngModel)]="obs_medicamento" />
  </div>
  <br />
  <div class="container label">
    Dosagem*:
    <input type="textfield" class="input" [(ngModel)]="dosagem" /> Qt*:
    <input type="number" class="input" [(ngModel)]="qt_medicamento" />
  </div>
  <br />
  <div class="label">
    Frequência (diária)*: <br />
    <input type="number" [(ngModel)]="qt_frequencia_diaria" />
  </div>
  <br />
  <div class="label">
    Frequência (em horas): <br />
    <input type="textfield" [(ngModel)]="ds_frequencia_horas" />
  </div>
  <br />
  <div class="button" (click)="adicionar()">CONFIRMAR</div>
  <br />
</div>

<div *ngIf="sucesso">
  <h2>Sucesso!</h2>
  O medicamento foi adicionado com sucesso! :)<br /><br />
  <div class="sucesso-adicionado">
    <div><b>Nome:</b> {{ nome }}</div>
    <div><b>Dosagem:</b> {{ dosagem }}</div>
    <div><b>Quantidade:</b> {{ qt_medicamento }}</div>
    <div><b>Frequência:</b> {{ qt_frequencia_diaria }} por dia</div>
  </div>
</div>