<a [routerLink]="['/main']" class="return"><b>← voltar</b></a>
<div *ngIf="!data">
  <div class="datepicker">
    <dl-date-time-picker
      maxView="year"
      minView="day"
      startView="day"
      [(ngModel)]="selectedDate"
      (change)="selecionarData()"
    >
    </dl-date-time-picker>
  </div>
</div>

<div *ngFor="let item of lista; let i = index">
  <div class="alarme">
    <div class="alarme--date">{{ item.data }}</div>
    <div class="alarme--infos">
      <p class="infos--nome">{{ item.nome }}</p>
      <p class="infos--hora">{{ item.hora }}</p>
    </div>
    <div class="alarme--config material-icons" [routerLink]="['/agenda/',i]">edit</div>
    <div class="alarme--config material-icons" (click)="apagarEvento(i)">delete</div>
  </div>
</div>
