<h2>Agenda</h2>
<div *ngIf="!data">
  <div>
    <dl-date-time-picker
      class="datepicker"
      maxView="year"
      minView="day"
      startView="day"
      [(ngModel)]="selectedDate"
      (change)="dateSelect()"
    >
    </dl-date-time-picker>
  </div>
</div>

<div *ngFor="let item of lista">
  <div class="alarme">
    <div class="alarme--date">{{ item.data }}</div>
    <div class="alarme--infos">
      <p class="infos--nome">{{ item.nome }}</p>
      <p class="infos--hora">{{ item.hora }}</p>
    </div>
    <div class="alarme--config material-icons">edit</div>
    <div class="alarme--config material-icons">delete</div>
  </div>
</div>
<a [routerLink]="['/main']" class="return"><b>← voltar</b></a>
