<a [routerLink]="['/agenda']" class="return"><b>← voltar</b></a>

<h2>Edite o evento</h2>

<div *ngIf="!sucesso">
    <div class="label">
      Medicamento*: <br />
      <select [(ngModel)]="medicamento">
        <option *ngFor="let x of listaMedicamentos" [ngValue]="x" >{{x.nome}}</option>
    </select>  
  </div>
    <div class="label">
      Data*: <br />
      <input type="date" [(ngModel)]="data" />
    </div>
    <br />
    <div class="label">
      Hora*: <br />
      <input type="time" step="2" [(ngModel)]="time" />
    </div>
    <br />
  
    <div class="button" (click)="adicionar()">CONFIRMAR EDIÇÃO</div>
    <br/>
    <a [routerLink]="['/agenda']"> <div class="button">CANCELAR</div> </a>
    <br />
  </div>
  
  <div *ngIf="">
    <h2>Sucesso!</h2>
    O alarme foi adicionado com sucesso! :)<br /><br />
    <div>
      <p>Medicamento: {{medicamento.nome}}</p>
      <p>Data: {{data}}</p>
      <p>Hora: {{time}}</p>
    </div>
  </div>